#submit-btn {
  border: 1px solid #0ab4b4;
  background: rgba(20, 20, 20, 0.6);
  font-size: 18px;
  color: white;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.4s;
}
#submit-btn:hover:enabled {
  background: rgba(20, 20, 20, 0.8);
  padding: 10px 80px;
}
#submit-btn:disabled {
  color: #ccc;
  border: 1px solid #ccc;
}
